DB_URL=jdbc:mysql://db:3306/cloud?serverTimezone=UTC&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=
FILE_UPLOAD_DIR=/app/uploads
RECIPE_API_KEY=
GEMINI_API_KEY=
